@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #091e3a, #2f80ed, #2d9ee0);
    --background: 228 98.65% 98.26%;
    --foreground: 228 7.3% 0.52%;

    --muted: 228 7.3% 91.3%;
    --muted-foreground: 228 3.65% 41.3%;

    --popover: 228 31.6% 91.3%;
    --popover-foreground: 228 7.3% 0.65%;

    --card: 228 31.6% 91.3%;
    --card-foreground: 228 7.3% 0.65%;

    --border: 228 12.3% 89.52%;
    --input: 228 12.3% 89.52%;

    --primary: 228 73% 13%;
    --primary-foreground: 228 1.46% 91.3%;

    --secondary: 228 3.65% 95.65%;
    --secondary-foreground: 228 5.38% 11.3%;

    --accent: 228 3.65% 95.65%;
    --accent-foreground: 228 5.38% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 228 73% 13%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: linear-gradient(to top left, #1488cc, #2b32b2);

    --background: 215 53.3% 3.52%;
    --foreground: 215 8.2% 97.2%;

    --muted: 215 41% 13.2%;
    --muted-foreground: 215 8.2% 54.4%;

    --popover: 215 48.6% 5.72%;
    --popover-foreground: 215 8.2% 97.2%;

    --card: 215 48.6% 5.72%;
    --card-foreground: 215 8.2% 97.2%;

    --border: 215 41% 13.2%;
    --input: 215 41% 13.2%;

    --primary: 215 82% 44%;
    --primary-foreground: 215 8.2% 97.2%;

    --secondary: 215 41% 13.2%;
    --secondary-foreground: 215 8.2% 97.2%;

    --accent: 215 41% 13.2%;
    --accent-foreground: 215 8.2% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 215 8.2% 97.2%;

    --ring: 215 82% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
